/* Para toda la web */
* {
    list-style: none; /* Evitar puntos de las listas */
    box-sizing: border-box;
}

/* Cuerpo de todas las páginas de la página */
body{
    height: 145vh; /* Tamaño */
    position: relative;
    background-image: linear-gradient( /*Fondo de la web */
        rgba(84, 82, 82, 0.5),
        rgba(81, 79, 79, 0.5)),
        url(Imagenes/carretera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif; /* Fuente externa importada */
}

/* CABECERA de la página web */
header{
    box-shadow: 2px 2px #ef5350;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between; /*Separacion entre ellos*/
    align-items: center;
    padding: 25px 0;
    height: 95px;
    background-color: white;
    z-index: 9999;
}

/* HIPERVINCULOS */
a{
    text-decoration: none;
    color: black;
}

/* TITULO de la web */
h1{
    white-space: nowrap;
}

/* Tamaño grande en toda la página */
p{
    font-size: large;
}

/* BARRA de navegación del index */
nav a{
    display: inline-block;
    text-decoration: none;/*Le quita el subrayado*/
    color: black;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 18px;
}

nav a:hover{
    background-color: #ef5350;
    color: #fff;
}


/* Propiedades para las tablas */
table, th, td{
    border: 2px solid black;  /* Bordes */
    border-collapse: collapse; /* Juntar los bordes */
}

th:hover{ /* Cuando el ratón pasa por encima */
    background-color: #d21e45;
    color: white;
}

td{
    text-align: center;
}

/* Propiedades para el formulario */
form{
    width: 80%;
    position: relative;
    left: 150px;
}

form p{
    text-align: center;
    padding: 50px 20px;
    position: relative;
    left: 165px;
    bottom: 50px;
    font-size: large;
    white-space: nowrap; /*En una sola linea*/
}

/* PIE DE PAGINA de la web */
footer {
    width: 100%;
    text-decoration: none;/*Le quita el subrayado*/
    color: black;
    height: 100px;
    background-color: white;
    z-index: 9999;
}

footer ul{
    display: flex;
}

footer ul li{
    display: flex;
    justify-content: space-between; /*Separacion entre ellos*/
    align-items: center;
    font-size: large;
    white-space: nowrap;
    position: relative;
    left: 200px;
    text-decoration: none;
    color: black;
    margin-right: 60px; /* Esto añadirá un espacio de 10 píxeles entre cada elemento */
}



/* ASIDE */
aside{
    font-size: large;
    float: right;
    background-color: hsla(0, 81%, 60%, 0.5);
    position: relative;
    right: 70px;
    bottom: 200px;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
}


aside h3{
    text-align: center;
    position: relative;
    top: 30px;
}

aside ul{
    position: relative;
    top: 60px;
}

aside a{
    display: inline-block;
    text-decoration: none;/*Le quita el subrayado*/
    color: black;
    margin: 0 0;
    padding: 5px 5px;
    border-radius: 30px;
    font-size: 18px; 
}

aside a:hover{
    background-color: #ef5350;
    color: #fff;
}


/* Body del INDEX y SALAS */
.body{
    position: relative;
    top: 100px;
}

/* Lugar, Nombre y Correo en el formulario */
.uno{
    margin-right: 5px;
    padding-right: 0;
}

/* Select, Recogida y Devolución en el formulario */
.dos{
    margin-right: 30px;
}


/* Propiedades para el botón BORRAR y ENVIAR */
.boton{
    border: 0;
    background-image: linear-gradient(
        150deg,
        #d21e45,
        rgb(106, 4, 4),
        #ea8989
    );
    color: #fdfbfb;
    font-weight: bold;
    display: flex;
    border-radius: 8px;
    font-size: 18px;
    padding: 4px;
    transition: .3s;
    cursor: pointer;
    position: relative;
    top: 140px;
    right: 570px;
    margin-right: 30px;
    
}

.boton:hover span{
    background: none;
}

.boton span{
    background-color: rgb(31, 21, 21);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.boton:active{
    transform: scale(0.9);
}


/* Para el FOOTER de X.html */
.nuestraem{
    display: inline-block;
    text-decoration: none; /* Le quita el subrayado */
    padding: 2px 2px;
    color: black;
    border-radius: 30px;
}

.nuestraem:hover{
    background-color: #ef5350;
    color: #fff;
}


/* LOGO de la cabecera */
.logo{
    margin-left: 300px;
}


/* Para el formulario */
.fondorojo{
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
    padding: 100px 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* O absolute */
    top: 280px; /* Mover hacia abajo 20px */
    background-color: hsla(0, 81%, 60%, 0.5); /* Rojo con 50% de transparencia */
}

/* ARTICULOS de X.html */
.fondorojo2{
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
    padding: 50px 40px;
    margin-bottom: 50px;
    width: 700px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* O absolute */
    top: 170px; /* Mover hacia abajo 20px */
    left: 350px;
    background-color: hsla(0, 81%, 60%, 0.5); /* Rojo con 50% de transparencia */

}

.fondorojo3{
    height: 60em;
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
    padding: 50px 40px;
    margin-bottom: 50px;
    width: 700px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* O absolute */
    top: 170px; /* Mover hacia abajo 20px */
    left: 350px;
    background-color: hsla(0, 81%, 60%, 0.5); /* Rojo con 50% de transparencia */
}

/* h3 de X.html */
.x{
    font-size: 25px;
    position: relative;
    bottom: 150px;
    left: 250px;
    white-space: nowrap;
}
.xx{
    font-size: 25px;
    position: relative;
    bottom: 360px;
    left: 850px;
    white-space: nowrap;
}

/* ARTICULOS de salas.html */
.artsalas{
    margin: 0 0;
    width: 100%;
    height: 600px;
}

.peqclase{
    position: relative;
    top: 40px;
    left: 130px;
}

/* TITULOS de salas.html */
.h3salas{
    font-size: 28px;
    position: relative;
    top: 30px;
    width: 200px;
    text-align: center;
    background-color: #ef5350;
    color: #fff;
    border-radius: 30px;
    margin: 0 0;
    padding: 15px 5px;
    position: relative;
    left: 620px;
}

/* POSICION de las tablas */
.tabla{
    position: relative;
    top: 40px;
}


.izq{
    background-color: hsla(0, 81%, 60%, 0.5);
    width: 45%;
    padding: 10px 20px;
    position: relative;
    top: 50px;
}

/* ARTICULOS DE salas.html */
.der{
    background-color: hsla(0, 81%, 60%, 0.5);
    width: 45%;
    height: 420px;
    padding: 10px 20px;
    position: relative;
    bottom: 370px;
    left: 700px;
}

/* Body del X */
#bodyx{
    height: 250vh;
    position: relative;
    background-image: linear-gradient(
        rgba(84, 82, 82, 0.5),
        rgba(81, 79, 79, 0.5)),
        url(Imagenes/carretera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
}

/* Body del INDEX */
#bodyindex{
    height: 170vh;
    position: relative;
    background-image: linear-gradient(
        rgba(84, 82, 82, 0.5),
        rgba(81, 79, 79, 0.5)),
        url(Imagenes/carretera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
}

/*Body del RESERVA.HTML */
#reserva{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
        rgba(84, 82, 82, 0.5),
        rgba(81, 79, 79, 0.5)),
        url(Imagenes/carretera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
}


/* BODY de salas.html */
#bodys{
    height: 330vh;
    
}


/* SUBTITULO de la web */
#h3{
    position: relative;
    top: 30px;
    right: 120px;
    font-size: 15px;
    color: #ef5350;
    white-space: nowrap; /*En una sola linea*/
}


/* PIE DE PAGINA de reserva.html */
#foot{
    width: 100%;
    position: relative; /* O absolute */
    top: 360px; /* Mover hacia abajo 20px */
}

#foot ul li {
    position: relative;
    top: 50px;
    right: 30px;
}

/* ARTICULOS de index.html */
#a1{
    float: left;
    width: 77%;
    height: 450px;
    position: relative;
    top: 50px;
    left: 200px;
    padding: 5px 10px;
    background-color: hsla(0, 81%, 60%, 0.5);
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
}

#a1 h3{
    text-align: center;
}


#a2{
    font-size: large;
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
    position: relative;
    left: 580px;
    top: 600px;
    height: 400px;
    width: 400px;
    background-color: hsla(0, 81%, 60%, 0.5);
    padding: 10px 10px;
}

#a2 h3{
    text-align: center;
    position: relative;
    bottom: 400px;
}

#a2 p{
    position: relative;
    bottom: 400px;
    left: 10px;
}


#a3{
    font-size: large;
    position: relative;
    top: 200px;
    left: 100px;
    border-color: black;
    border-style: solid;
    border-width: 0.05cap;
    background-color: hsla(0, 81%, 60%, 0.5);
    padding: 10px 10px;
    height: 400px;
    width: 400px;
    padding-top: 10px;
}

#a3 h3{
    text-align: center;
}

#a3 p{
    position: relative;
}


/* PIE DE PAGINA de index.html */
#footerindex{
    position: absolute;
    top: 100%;
}


/* PIE DE PAGINA de X.html */
#footx{
    width: 100%;
    position: relative;
    top: 430px;
    right: 20px;
    display: flex;
    justify-content: space-between;  /* Separacion entre ellos */
    align-items: center;
    padding: 25px 0;
    height: 95px;
    background-color: white;
    z-index: 9999;
    font-size: large;
}


/* Imagen del oche del index.html */
#iniciocoche{
    width: 600px;
    float: right;
    position: relative;
    bottom: 270px;
    left: 50px;
}


/* MAPAS del X.html */
#mapa1{
    width: 16em;
    height: 13em;
    position: relative;
    left: 120px;
    bottom: 60px;
}

#mapa2{ 
    width: 16em;
    height: 13em;
    position: relative;
    right: 790px;
    top: 310px;
}


/* TEXTO del X.html */
#texto{
    position: relative;
    right: 50px;
    top: 20px;
}


/* Madrid del X.html */
#madrid{
    white-space: nowrap;
    position: relative;
    font-size: 18px;
    bottom: 275px;
    left: 730px;
}

/* Barcelona del X.html */
#bar{
    font-size: 18px;
    white-space: nowrap;
    position: relative;
    top: 100px;
    right: 80px;
}

/* Direccion de Madrid */
#textm{
    white-space: nowrap;
    position: relative;
    bottom: 220px;
    left: 450px;
}

/* Direccion de Barcelona */
#textbar{
    position: relative;
    top: 155px;
    right: 400px;
    white-space: nowrap;
}

/* ARTICULOS DE salas.html */
#artmed{
    height: 600px;
}

#artlujo{
    height: 590px;
}

#artfurgo{
    background-color: hsla(0, 81%, 60%, 0.5);
    position: relative;
    top: 70px;
    left: 350px;
    margin: 0 0;
    width: 50%;
    height: 420px;
    padding: 15px 5px;
}

#idfurgo{
    position: relative;
    bottom: 70px;
}


/* IMAGEN furgoneta */
#furgoimg{
    position: relative;
    top: 40px;
    left: 130px;
}

#mediano{
    position: relative;
    bottom: 600px;
}


/* h3 del articulo de index.html */
#h3index{
    font-size: 25px;
}

/* TEXTO del index.html */
#pindex{
    position: relative;
    bottom: 10px;
}


/* PIE DE PAGINA de salas.html */
#footersalas{
    position: relative;
    top: 180px;
}


/* ARTICULOS de salas.html */
#kia{
    position: relative;
    bottom: 370px;
}

#kiaimg{
    position: relative;
    top: 60px;
    left: 150px;
}

#peugeot{
    height: 420px;
}

#peugeotimg{
    position: relative;
    top: 20px;
    left: 100px;
}
  

#lujo{
    position: relative;
    bottom: 300px;
}

#tesla{
    height: 420px;
}

#teslaimg{
    position: relative;
    top: 50px;
    left: 100px;
}

#bmw{
    position: relative;
    bottom: 370px;
}
#bmwimg{
    position: relative;
    top: 50px;
    left: 130px;
}


@media screen and (min-width:200px)
and (max-width: 500px){
/* dispositivos con ancho de
pantalla entre 200 y 500px; */

body{
    height: 140vh;
}

header{
    box-shadow: 2px 2px #ef5350;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between; /*Separacion entre ellos*/
    align-items: center;
    padding: 25px 0;
    height: 105px;
    background-color: white;
    z-index: 9999;
}

h1{
    position: relative;
    right: 300px;
}

nav a{
    position: relative;
    right: 400px;
    font-size: 15px;
}

aside{
    display: none;
}

.inicio{
    position: relative;
    top: 55px;
    right: 410px;
}

.reserv{
    position: relative;
    top: 5px;
    right: 330px;
    padding: 5px 10px;
}

.vehiculos{
    position: relative;
    right: 410px;
}

.emp{
    position: relative;
    right: 330px;
    bottom: 50px;
}

.izq{
    width: 580px;
}

.der{
    width: 500px;
}

.logo{
   position: relative;
   right: 300px;
}

#artfurgo{
    width: 700px;
}

#reserva{
    height: 165vh;
}

#form_contact{
    width: 240%;
}

#iniciocoche{
    width: 500px;
    position: relative;
    left: 40px;
    bottom: 130px;
}

#foot{
    width: 270%;
    
   
}

#h3{
    position: relative;
   right: 400px;
}

#a1{
    
    width: 160%;
    height: 600px;
    margin: 0 0;
}

#a2{
    position: relative;
    top: 700px;
}

#a2 h3{
    position: relative;
    bottom: 530px;
}

#a2 p{
    position: relative;
   bottom: 530px;
}

#a1 h3{
    position: relative;
    right: 100px;
}

#a3{
    position: relative;
    top: 300px;
}

#a3 h3{
    position: relative;
    bottom: 150px;
}

#a3 p{
    position: relative;
    bottom: 150px;
}

}